<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<forms.renderForm>
				<processor type="NISSitecore.Feature.PageContent.Forms.Pipeline.SetFormAction, NISSitecore.Feature.PageContent"
                   patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.SetFormParameters, Sitecore.ExperienceForms.Mvc']"/>
				<!--<processor type="Custom.Feature.Forms.Pipelines.Forms.CreateHiddenFields, Custom.Feature.Forms"
                   patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.BuildForm, Sitecore.ExperienceForms.Mvc']"/>-->
			</forms.renderForm>
		</pipelines>
	</sitecore>
</configuration>