@using NISSitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="">
    <div class="row">
        <div class="col-md-12">
            @Html.Sitecore().DynamicPlaceholder("col-huge",true)
        </div>
    </div>
</div>

