<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <glassMapper.addMaps>
        <processor type="NISSitecore.Feature.Navigation.ORM.RegisterMappings, NISSitecore.Feature.Navigation" />
      </glassMapper.addMaps>
    </pipelines>
  </sitecore>
</configuration>
