<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"
                  type="Sitecon.Foundation.HandleErrorProcessors.Pipelines.HttpRequestBegin.HandleItemNotFound, Sitecon.Foundation.HandleErrorProcessors">
          <RelativeUrlPrefixesToIgnore hint="list">
            <Prefix>/~/</Prefix>
            <Prefix>/-/</Prefix>
          </RelativeUrlPrefixesToIgnore>
        </processor>
      </httpRequestBegin>
      <mvc.exception>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc']"
                  type="Sitecon.Foundation.HandleErrorProcessors.Pipelines.MvcException.HandleMvcException, Sitecon.Foundation.HandleErrorProcessors" />
      </mvc.exception>
    </pipelines>
  </sitecore>
</configuration>